@font-face {
    font-family: Raleway;
    src: url("file:///android_asset/fonts/Raleway-Medium.ttf")
}

@font-face {
    font-family: RalewayBold;
    src: url("file:///android_asset/fonts/Raleway-Bold.ttf");
}

center {
    font-family: RalewayBold;
    font-size: 20;
}

body {
    font-family: Raleway;
    font-size: 18;
}

ul {
    font-size: 14;
    list-style-position: inside;
    padding-left:0;
}

ol {
    font-size: 15;
    list-style-position: inside;
    padding-left:0;
}

p.long {
    font-family: Raleway;
    font-size: 15;
}

p.small {
    font-family: Raleway;
    font-size: 6;
}